# General Connection Settings
clusterName="liferay_cluster"
operationMode="REMOTE"
networkHostAddresses=[ \
  "http://elasticsearch:9200", \
  ]

# Production Mode must be true for Liferay to use the remote cluster
productionModeEnabled=B"true"

# Security (Matches your docker-compose setting xpack.security.enabled=false)
authenticationEnabled=B"false"
httpSSLEnabled=B"false"
# If you decide to enable security later, use these:
# username="elastic"
# password="your_password"

# Indexing Behavior
indexNamePrefix="liferay-"
trackTotalHits=B"true"
logExceptionsOnly=B"true"

# Advanced Configurations
# Note: 'discoveryZenPingUnicastHostsPort' and 'bootstrapMlockAll' 
# are typically handled at the Elasticsearch server level in v8, 
# not through the Liferay connector.
additionalConfigurations=""
additionalIndexConfigurations=""
# REMOVE LiferayDocumentType from mappings if you use custom ones
additionalTypeMappings=""
overrideTypeMappings=""
