additionalConfigurations=""
additionalIndexConfigurations=""
additionalTypeMappings=""
authenticationEnabled=B"true"
bootstrapMlockAll=B"false"
clusterName="LiferayElasticsearchCluster"
discoveryZenPingUnicastHostsPort="9300-9400"
embeddedHttpPort=I"9201"
httpCORSAllowOrigin="/https?:\\/\\/localhost(:[0-9]+)?/"
httpCORSConfigurations=""
httpCORSEnabled=B"true"
httpSSLEnabled=B"false"
indexNamePrefix="liferay-"
indexNumberOfReplicas=""
indexNumberOfShards=""
logExceptionsOnly=B"true"
minimumRequiredNodeVersion="0.0.0"
networkBindHost=""
networkHost=""
networkHostAddresses=[ \
  "http://elasticsearch:9200", \
  ]
networkPublishHost=""
nodeName="elastic01"
operationMode="REMOTE"
overrideTypeMappings=""
password="liferay"
productionModeEnabled=B"false"
proxyHost=""
proxyPort=I"0"
proxyUserName=""
remoteClusterConnectionId=""
restClientLoggerLevel="ERROR"
trackTotalHits=B"true"
transportTcpPort=""
truststorePath="/path/to/localhost.p12"
truststoreType="pkcs12"
username="elastic"
